body {
    margin: 0;
    padding: 0;

	  font-family: "PT Sans", "Arial", sans-serif;
	  font-size: 14px;
	  font-weight: normal;
    line-height: 21px;
		text-transform: uppercase;

		background-color: #f2f2f2;
 }

 .main-content {
   position: relative;

   width: 1200px;
   margin: auto;

   background-color: white;
   box-shadow: 0 -7px 14px 7px #dbdbdb;
 }

/* --------------------------   HEADER   ---------*/
 .header {
   position: relative;

   margin: auto;
   padding-top: 13px;
   padding-bottom: 17px;
   padding-left: 6%;
   padding-right: 6%;
 }

 .navigation a {
   font-family: "PT Sans", "Arial", sans-serif;
   font-weight: bold;
   line-height: 26px;
   text-decoration: none;
   color: #000000;
 }

 .navigation a:hover {
   color: #81b3d2;
 }

 .navigation a:active {
   color: #b2b2b2;
 }

 .list-navigation {
   display: flex;
   margin: 0;
   padding: 0;

	 list-style-type: none;
 }

 .item-navigation {
	 width: 20%;
   padding: 0;
 }

 .item-navigation:nth-child(1) {
   padding-right: 30px;
 }

 .item-navigation:nth-child(3) {
   margin-left: auto;
   text-align: right;
 }

 .item-navigation:nth-child(4) {
   text-align: right;
   padding-left: 35px;
 }

 .visit a {
   color: #9b8d84;
 }

 .visit a:hover {
   color: #9b8d84;
 }

 .visit a:active {
   color: #9b8d84;
 }

 .logo {
   position: absolute;
   top: 0;
	 left: 50%;
   z-index: 2;

   margin-left: -70px;
 }

 .logo a {
   display: block;
 }

 .logo img {
   display: block;
 }

 /*----------------------   MAIN PART I  -----------*/
.picture {
	position: relative;
  z-index: 1;

  display: block;
  width: 1200px;
  height: 507px;
	margin: 0;
  padding: 0;
  background-image: url(../img/background-photo.jpg);
  background-position: 0 -56px;
  background-color: #ebebeb;
}

.picture-title-img {
	position: absolute;
  top: 74px;
  left: 50%;

	width: 460px;
  margin-left: -230px;
	padding: 0;
}

.picture-base {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
	margin: 0;
	padding: 0;
}

.text {
  margin-right: auto;
  margin-left: auto;
  padding-top: 61px;
  padding-bottom: 51px;
  background-color: white;
}

.headline-text {
  width: 460px;
  margin: 0 auto;
	padding: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.paragraph-text {
	margin-top: 27px;
  margin-bottom: 0;
  padding: 0;

  line-height: 26px;
  text-align: center;
}

/*------------------------   MAIN PART II  -----------*/
.box {
	display: flex;
  margin: 0;
  padding: 0;
}

.card {
	width: 400px;
  margin: 0;
	padding-top: 47px;
  padding-bottom: 57px;

  text-align: center;
	color: white;

	background-color: #81b3d2;
}

.headline-card {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;

  font-size: 21px;
}

.number-card {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}

.paragraph-card {
  width: 302px;
  margin: 0 auto;
  padding: 0;
}

.image {
  display: block;
	width: 800px;
  height: 256px;
  margin: 0;
  font-size: 0;

  background-image: url(../img/view1.jpg);
  background-color: #81b3d2;
}

.change {
  order: -1;
  margin-top: 1px;
  background-image: url(../img/view2.jpg);
}

.box-variation {
	display: flex;
	justify-content: space-around;
}

.part {
  position: relative;
	width: 400px;
  margin: 0;
  padding-top: 53px;
	padding-bottom: 81px;
  padding-right: 1px;
  text-align: center;
}

.headline-part {
  margin: 0;
  margin-bottom: 23px;
  font-size: 21px;
	text-align: center;
}

.headline-part::before {
  content: " ";

  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

 .part:nth-of-type(1) .headline-part::before {
   width: 75px;
   height: 72px;
   margin-top: 7px;

   background: transparent url(../img/icon-house.png) no-repeat center;
   background-color: #fefefe;
 }

.part:nth-of-type(2) .headline-part::before {
  width: 74px;
  height: 70px;
  margin-top: 9px;

  background: transparent url(../img/icon-burger.png) no-repeat center;
}

.part:nth-of-type(3) .headline-part::before {
  width: 64px;
  height: 76px;
  margin-top: 3px;

  background: transparent url(../img/icon-gift.png) no-repeat center;
}

.paragraph-part {
  width: 285px;
  margin: 0 auto;
	text-align: center;
}

.card-gray {
  padding-right: 1px;
	color: black;
	background-color: #f2f2f2;
}

.card-gray .paragraph-card  {
  width: 280px;
}
/*----------------------------- MAIN PART III -----------*/
.search {
  position: relative;
}

.headline-search {
  margin: 58px 0 0 0;
  padding: 0;

  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.paragrahp-search {
  margin: 30px 0 47px 0;
  padding: 0;

  line-height: 24px;
  text-align: center;
}

.btn-search {
  display: block;

  width: 568px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: white;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
}

/*!!!!!!!!!!!!  FORM   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.popup-search {
  position: absolute;
  left: 50%;

  width: 458px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -284px;
  padding: 55px;

  font-weight: bold;
  background-color: white;
  box-shadow: 0 7px 15px -2px #bcbcbc;
}

.section-popup-search {
  display: flex;
  align-items: baseline;
  margin-bottom: 29px;

}

.label-search {
  padding-left: 2px;
  margin-right: auto;
}

.mover {
  margin-left: 7px;
}

.data {
  width: 300px;
  padding: 6px 30px 6px 15px;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.calendar {
  display: inline-block;
  width: 21px;
  height: 22px;
  margin-left: -30px;
  margin-top: 9px;

  font-size: 0;
  vertical-align: top;
  background-image: url(../img/icon-calendar.png);
  background-repeat: no-repeat;
}

.calendar:hover {
  background: #f2f2f2 url(../img/icon-calendar-hover.png) no-repeat center;
}

.calendar:active {
  background: #f2f2f2 url(../img/icon-calendar-active.png) no-repeat center;
}

.data:hover {
  background-color: #ebebeb;
}

.data:focus {
  background-color: white;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.subsection-popup-search {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.subsection-popup-search .label-search {
  padding-left: 0;
}

.subsection-popup-search:nth-of-type(1) {
  width: 55%;
  margin-right: 45px;
}

.subsection-popup-search:nth-of-type(2) {
  width: 45%;
}

.number-search {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-size: 0;

  background-color: #f2f2f2;
}

.number {
  width: 34px;
  padding: 6px 5px;

  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  /*border: 2px solid #f2f2f2;*/
  background-color: #f2f2f2;
  border: none;
}

.minus {
  display: block;
  width: 12px;
  height: 3px;
  padding: 17px 12px;

  background-image: url(../img/icon-minus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.plus {
  display: block;
  width: 11px;
  height: 11px;
  padding: 13px 12px;

  font-size: 0;

  background-image: url(../img/icon-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.number:hover {
  background-color: #ebebeb;
  /*border: 2px solid #ebebeb;*/
}

.number:focus {
  background-color: white;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  /*border: 2px solid #f2f2f2;*/
}

.minus:hover {
  background: #f2f2f2 url(../img/icon-minus-hover.png) no-repeat center;
}

.minus:active {
  background: #f2f2f2 url(../img/icon-minus-active.png) no-repeat center;
}

.plus:hover {
  background: #f2f2f2 url(../img/icon-plus-hover.png) no-repeat center;
}

.plus:active {
  background: #f2f2f2 url(../img/icon-plus-active.png) no-repeat center;
}

.button {
  box-sizing: border-box;
  width: 458px;
  margin: 0;
  margin-top: 25px;
  padding: 16px 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: white;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.map img {
  display: block;
}

.map {
  margin: 0;
  padding: 0;

  background-color: #ebebeb;;
}

 /*---------------------------- MAIN PART of inner.html ------------- */
.options {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 6px;
  padding-left: 6%;
  padding-right: 6%;

  color: white;
  background-image: url(../img/background-photo-inner.jpg);
  background-position: 0 -58px;
  background-color: #81b3d2;
}

.options form {
  display: flex;
}

.features {
  margin-right: 119px;
}

.features:nth-of-type(2) {
  padding-left: 1px;
  margin-right: auto;
  align-self: flex-start;
}

.features:nth-of-type(2) .headline-features {
  margin-left: -1px;
}

.headline-features {
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.item-features {
  display: none;
}

.mark-features {
  position: relative;

  display: block;
  padding-left: 40px;
  margin-bottom: 25px;

  cursor: pointer;
}

.mark-features::before {
  content:'';
  position:absolute;
  top: -2px;
  left: -1px;

	display:block;
	width:26px;
  height:22px;

  background: url(../img/checkbox.png) no-repeat;
}

.item-features:checked + .mark-features::before {
	background: url(../img/check.png) no-repeat;
}

.item-features:disabled + .mark-features::before {
	background: url(../img/checkbox-block.png) no-repeat;
}

.item-features:disabled:checked + .mark-features::before {
	background: url(../img/check-block.png) no-repeat;
}

.item-features:disabled + .mark-features {
  color: #6a6a6a;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.price {
  width: 317px;

  color: #ffffff;
  text-transform: uppercase;
}

.price .headline-features {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 2px;
}

.field-price {
  position: relative;
  height: 32px;
  margin-bottom: 19px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.field-price::after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;

 width: 2px;
 height: 22px;

 background: #ffffff;
 transform: translate(-50%, -50%);
}

.field-price label {
 display: inline-block;

 padding-top: 2px;
 vertical-align: middle;

 font-size: 14px;
 line-height: 21px;

 cursor: pointer;
}

.from-price,
.to-price {
 width: 89px;
 padding-left: 65px;
}

.to-price {
  padding-left: 56px;
}

.field-price input {
 width: 50px;
 margin: 0;

 color: inherit;
 ont-size: 14px;
 line-height: 28px;

 background: none;
 border: none;
}

.cursor-price {
 position: relative;

 margin-bottom: 34px;
}

.cursor-price .scale {
 height: 2px;

 background: rgba(255, 255, 255, 0.3);
}

.cursor-price .streak {
 width: 80%;
 height: 2px;

 background: #ffffff;
}

.toggle {
 position: absolute;
 top: -9px;

 width: 4px;
 height: 4px;

 background: #ababab;
 border: 8px solid #ffffff;
 border-radius: 50%;
 box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 cursor: pointer;
}

.toggle-min {
 left: 0;
}

.toggle-max {
 left: 80%;
}

.toggle:hover {
 background: #1c4f80;
}

.btn-price {
 display: block;
 margin: 0 auto;
 margin-left: 84px;
 padding: 5px 34px;

 font-family: "PT Sans", "Arial", sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #ffffff;
 text-transform: uppercase;

 background: transparent;
 border: 2px solid #ffffff;
 border-radius: 2px;
 cursor: pointer;
}

.btn-price:hover {
 color: #000000;

 background: #ffffff;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.sort {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 29px 6% 31px 6%;

  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}

 .headline-sort {
   display: inline-block;
   margin: 0;
   margin-right: 48px;
   padding: 0;
   vertical-align: middle;

   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
 }

 .text-sort {
   margin-right: 39px;
   font-size: 12px;
   line-height: 18px;
 }

 .menu-sort {
   display: flex;
   margin: 0;
   margin-right: auto;
   padding: 0;

	 list-style-type: none;
 }
  .item-sort {
    margin: 0;
    margin-right: 33px;
  }

  .menu-sort a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;

    text-decoration: none;
    color: #b2b2b2;
    border-bottom: 1px dotted;
    border-color: #81b3d2;
  }

  .menu-sort a:hover {
    color: #81b3d2;
  }

  .menu-sort a:active {
    color: black;
    border: none;
  }

  .menu-sort .price-sort {
    color: #81b3d2;
    border: none;
  }

  .menu-sort .price-sort:active {
    color: #81b3d2;
    border: none;
  }

 .arrow-sort {
 }

 .up-sort {
   display: inline-block;
   margin-bottom: 5px;
   vertical-align: bottom;

   border: 5.5px solid transparent;
   border-bottom: 9px solid #cccccc;

}

 .down-sort {
   display: inline-block;
   vertical-align: bottom;
   margin-left: 8px;
   border: 5.5px solid transparent;
   border-top: 9px solid #81b3d2;
}

 .up-sort:hover {
   border-bottom: 9px solid black;
 }

 .up-sort:active {
   border-bottom: 9px solid #81b3d2;
 }

 /*.down-sort:hover {
   border-top: 9px solid black;
 }

 .down-sort:active {
   border-top: 9px solid #81b3d2;
 }*/




/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hotel {
  display: flex;
  align-items: center;

  margin: 0;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 6%;
  padding-right: 6%;

  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}

.img-hotel {
  display: block;
  width: 135px;
  height: 90px;
  margin-top: 3px;
  margin-right: 30px;
}

.preview-hotel {
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
}

.headline-hotel {
  margin: 0 0 7px 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.link-hotel {
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  color: black;
}
.link-hotel:hover {
  color: #81b3d2;
}

.link-hotel:active {
  color: #cacaca;
}

.box-hotel {
  display: flex;
  margin: 0;
  padding: 0;
}

.item-box-hotel {
  margin-right: 6px;
}

.text-hotel {
  display: block;
  margin-bottom: 13px;
}

.btn-hotel {
  display: inline-block;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 4px 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background-color: #81b3d2;
  border: none;
}

.btn-hotel:hover {
  background-color: #669ec0;
}

.btn-hotel:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.variety {
  width: 142px;

  background-color: #766357;
}

.variety:hover {
  background-color: #604e43;
}

.variety:active {
  color: #766860;
  background-color: #503e33;
}

.state-hotel {
}

.stars {
  display: block;
  width: 105px;
  text-align: right;
  vertical-align: top;
  margin-top: 2px;
  margin-bottom: 43px;
  padding-right: 3px;

  font-size: 0px;

  background-color: #fefefe;
}

.stars5 {
  background: transparent url(../img/stars5.png) no-repeat;
  background-position: top right;
}

.stars3 {
  background: transparent url(../img/stars3.png) no-repeat;
  background-position: top right;
}

.stars2 {
  background: transparent url(../img/stars2.png) no-repeat;
  background-position: top right;
}

.rating {
  display: block;
  width: 105px;
  padding: 4px 0 4px 1px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}

 /*----------------------------    FOOTER   ------------------*/
.footer {
	display: flex;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 37px;
}

.footer-main {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.text-footer {
	width: 400px;
	align-self: center;
	text-align: center;

	font-size: 21px;
  font-weight: bold;
  line-height: 27px;
}

.social {
	width: 400px;
	align-self: center;
	text-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 2px;
  vertical-align: top;

  font-size: 0;
  text-decoration: none;
}

.social-btn.tw {
  background: transparent url(../img/btn-tw.png) no-repeat;
}

.social-btn.fb {
  background: transparent url(../img/btn-fb.png) no-repeat;
}

.social-btn.in {
  background: transparent url(../img/btn-in.png) no-repeat;
}

.social-btn.tw:hover {
  background: transparent url(../img/btn-tw-hover.png) no-repeat;
}

.social-btn.fb:hover {
  background: transparent url(../img/btn-fb-hover.png) no-repeat;
}

.social-btn.in:hover {
  background: transparent url(../img/btn-in-hover.png) no-repeat;
}

.social-btn.tw:active {
  background: transparent url(../img/btn-tw-active.png) no-repeat;
}

.social-btn.fb:active {
  background: transparent url(../img/btn-fb-active.png) no-repeat;
}

.social-btn.in:active {
  background: transparent url(../img/btn-in-active.png) no-repeat;
}

.copyrihgt {
  align-self: center;
	width: 394px;
  text-align: center;
  margin-top: 3px;
  margin-right: 6px;

	font-size: 14px;
  line-height: 26px;
}

.btn-copyrihgt {
  position: relative;
  left: 5px;
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;

  background: transparent url(../img/btn-copyrihgt.png) no-repeat;
  background-position: 0 right;
}

.btn-copyrihgt:hover {
  background: transparent url(../img/btn-copyrihgt-hover.png) no-repeat;
}

.btn-copyrihgt:active {
  background: transparent url(../img/btn-copyrihgt-active.png) no-repeat;
}
