body {
	  font-family: "PT Sans", "Arial", sans-serif;
	  font-size: 14px;
	  font-weight: normal;
    line-height: 21px;
		text-transform: uppercase;
		background-color: #f2f2f2;
    margin: 0;
    padding: 0;
 }
 .main-content {
   width: 1200px;
   margin: auto;
   background-color: white;
   box-shadow: 0 -35px 40px 35px #e1e1e1;
 }
/* --------------------------   HEADER   ---------*/
 .header {
   position: relative;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 6%;
   padding-right: 6%;
	 margin: auto;

 }
 .navigation a {
   display: block;
   color: #000000;
   padding: 0;
   font-family: "PT Sans", "Arial", sans-serif;
   font-weight: bold;
   line-height: 26px;
   text-decoration: none;
 }
 .visit a {
   color: #9b8d84;
 }
 .navigation a:hover {
   color: #81b3d2;
 }
 .navigation a:active {
   color: #b2b2b2;
 }
 .list-navigation {
   display: flex;
   margin: 0;
   padding: 0;
	 list-style-type: none;
 }
 .item-navigation {
	 width: 20%;
   padding: 0;
 }
 .item-navigation:nth-child(3) {
   margin-left: auto;
   text-align: right;
 }
 .item-navigation:nth-child(4) {
   text-align: right;
 }
 .logo {
   position: absolute;
   top: 0;
	 left: 50%;
   margin-left: -70px;
   z-index: 2;
 }
 /*----------------------   MAIN PART I  -----------*/
.picture {
	position: relative;
  padding: 0;
	margin: 0;
  z-index: 1;
}
.picture-img {
  display: block;
  width: 1200px;
  height: 507px;
  margin: 0;
  padding: 0;
	background-color: #ebebeb;
}
.picture-title-img {
	position: absolute;
	width: 460px;
	top: 77px;
	padding: 0;
	left: 50%;
  margin-left: -230px;
}
.picture-base {
  position: absolute;
  bottom: 0;
  right: 0;
	margin: 0;
	padding: 0;
}
.text {
  padding-top: 60px;
  padding-bottom: 53px;
  padding-left: 350px;
  padding-right: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.headline-text {
	padding: 0;
	margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.paragraph-text {
	margin-top: 27px;
  padding: 0;
  margin-bottom: 0;
  line-height: 26px;
  text-align: center;
}
/*------------------------   MAIN PART II  -----------*/
.box {
	display: flex;
  margin: 0;
  padding: 0;
}
.card {
	width: 400px;
	padding-top: 48px;
  padding-bottom: 63px;
	margin: 0;
  text-align: center;
	color: white;
	background-color: #81b3d2;
}
.headline-card {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 21px;
  margin: 0;
}
.number-card {
  /*margin: 10px;*/
  padding: 6px;
}
.paragraph-card {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.image {
  display: block;
  margin: 0;
	width: 800px;
  height: 256px;
  background-color: #81b3d2;
}
.change {
  order: -1;
}
.box-variation {
	display: flex;
	/*min-height: 330px;*/
	justify-content: space-around;
}
.part {
	flex-basis: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  padding-top: 145px;
	padding-bottom: 60px;
	align-items: center;
}
.part:nth-child(1) {
  background: transparent url(../img/icon-house.png) no-repeat;
  background-position: center 60px;
}
.part:nth-child(2) {
  background: transparent url(../img/icon-burger.png) no-repeat center;
  background-position: center 60px;
}
.part:nth-child(3) {
  background: transparent url(../img/icon-gift.png) no-repeat center;
  background-position: center 60px;
}
.headline-part {
  font-size: 21px;
	text-align: center;
	width: 160px;
}
.paragraph-part {
	text-align: center;
	width: 290px;
}
.card-gray {
	color: black;
	background-color: #f2f2f2;
}
/*----------------------------- MAIN PART III -----------*/
.headline-search {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 50px 0 0 0;
}
.paragrahp-search {
  margin: 30px 0 50px 0;
  padding: 0;
  line-height: 24px;
  text-align: center;
}
.btn-search {
  display: block;
  box-sizing: border-box;
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  border: none;
  background-color: #766357;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
/*!!!!!!!!!!!!  FORM   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.popup-search {
  position: relative;
  width: 458px;
  padding: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-weight: bold;
}
.form-search {
}
.section-popup-search {
  display: flex;
  align-items: baseline;
}
.label-search {
  padding-right: 0;
  margin-right: auto;
}
.data {
  box-sizing: border-box;
  width: 305px;
  height: 37px;
  padding: 10px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}
.calendar {
  display: inline-block;
  width: 40px;
  height: 37px;
  font-size: 0;
  vertical-align: top;
  padding: 0;
  margin-right: 0;
  background: #f2f2f2 url(../img/icon-calendar.png) no-repeat center;
}
.calendar:hover {
  background: #f2f2f2 url(../img/icon-calendar-hover.png) no-repeat center;
}
.calendar:active {
  background: #f2f2f2 url(../img/icon-calendar-active.png) no-repeat center;
}
.data:hover {
  background-color: #ebebeb;
}
.data:focus {
  background-color: white;
  outline: 1px solid #e5e5e5;
}
.subsection-popup-search {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}
.subsection-popup-search:nth-of-type(1) {
  margin-right: 35px;
}
.number {
  box-sizing: border-box;
  width: 41px;
  height: 37px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}
.minus {
  display: inline-block;
  width: 37px;
  height: 37px;
  font-size: 0;
  vertical-align: top;
  padding: 0;
  margin-right: 0;
  background: #f2f2f2 url(../img/icon-minus.png) no-repeat center;
}
.plus {
  display: inline-block;
  width: 37px;
  height: 37px;
  font-size: 0;
  vertical-align: top;
  padding: 0;
  margin-right: 0;
  background: #f2f2f2 url(../img/icon-plus.png) no-repeat center;
}
.number:hover {
  background-color: #ebebeb;
}
.number:focus {
  background-color: white;
  outline: 1px solid #e5e5e5;
}
.minus:hover {
  background: #f2f2f2 url(../img/icon-minus-hover.png) no-repeat center;
}
.minus:active {
  background: #f2f2f2 url(../img/icon-minus-active.png) no-repeat center;
}
.plus:hover {
  background: #f2f2f2 url(../img/icon-plus-hover.png) no-repeat center;
}
.plus:active {
  background: #f2f2f2 url(../img/icon-plus-active.png) no-repeat center;
}
.button {
  box-sizing: border-box;
  width: 458px;
  height: 60px;
  margin: 0;
  margin-top: 54px;
  border: none;
  background-color: #81b3d2;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  color: #94b9d2;
  background-color: #5496bd;
}
.map {
  margin-top: -395px;
  background-color: #ebebeb;
}
 /*---------------------------- MAIN PART of inner.html ------------- */
.options {
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  background-image: url(../img/background-photo-inner.jpg);
  background-color: #81b3d2;
  outline: 1px solid green;
}
.options form {
  display: flex;
}
.features {
  color: white;
  min-width: 220px;
}
.features:nth-of-type(2) {
  margin-left: 0;
  flex-grow: 1;
  align-self: flex-start;
}
.headline-features {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
.item-features {
  display: block;

}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}
 .headline-sort {
   display: inline-block;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 30px 50px 30px 0;
   margin: 0;
   vertical-align: middle;
 }
 .result-sort {}
 .menu-sort {
   flex-grow: 1;
   display: flex;
 }
 .arrow-sort {
   font-size: 0;
 }
 .up-sort::before {
   content: " ";
   display: inline-block;
   background: transparent url(../img/arrowUp.png) no-repeat center;
   background-color: #fefefe;
   width: 15px;
   height: 20px;
   margin-left: 5px;
   vertical-align: middle;
 }
 .down-sort::after {
   content: " ";
   display: inline-block;
   background: transparent url(../img/arrowDown.png) no-repeat center;
   background-color: #fefefe;
   width: 15px;
   height: 20px;
   margin-left: 5px;
   vertical-align: middle;
 }
 .up-sort:hover::before {
   background: transparent url(../img/arrowUp-hover.png) no-repeat center;
 }
 .up-sort:active::before {
   background: transparent url(../img/arrowUp-active.png) no-repeat center;
 }
 .down-sort:hover::after {
   background: transparent url(../img/arrowDown-hover.png) no-repeat center;
 }
 .down-sort:active::after {
   background: transparent url(../img/arrowDown-active.png) no-repeat center;
 }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hotel {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 25px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
  justify-content: space-between;
}
.img-hotel {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}
.preview-hotel {
  margin-left: 0;
  flex-grow: 1;
  align-self: flex-start;
}
.headline-hotel {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 21px;
  font-weight: bold;
}
.link-hotel {
  color: black;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
}
.box-hotel {
  display: flex;
  margin: 0;
  padding: 0;
}
.item-box-hotel {
  margin-right: 6px;
}
.text-hotel {
  display: block;
  margin-bottom: 9px;
}
.btn-hotel {
  display: inline-block;
  /*box-sizing: border-box;*/
  min-width: 110px;
  padding: 4px 0;
  margin: 0;
  background-color: #81b3d2;
  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.btn-hotel:hover {
  background-color: #669ec0;
}
.btn-hotel:active {
  color: #94b9d2;
  background-color: #5496bd;
}
.variety {
  min-width: 145px;
  background-color: #766357;
}
.variety:hover {
  background-color: #604e43;
}
.variety:active {
  color: #766860;
  background-color: #503e33;
}
.state-hotel {
}
.stars {
  box-sizing: border-box;
  width: 105px;
  heigth:20px;
  text-align: right;
  vertical-align: top;
  margin-bottom: 47px;
  font-size: 0px;
  background-color: #fefefe;
}
.stars {
  background: transparent url(../img/stars5.png) no-repeat right;
}
/*.stars:nth-of-type(2) {
  background: transparent url(../img/stars3.png) no-repeat right;
}
.stars:nth-of-type(3) {
  background: transparent url(../img/stars2.png) no-repeat right;
}*/
.rating {
  box-sizing: border-box;
  width: 105px;
  heigth:25px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  border: none;
}
 /*----------------------------    FOOTER   ------------------*/
.footer {
	display: flex;
	justify-content: space-around;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}
.text-footer {
	width: 400px;
	align-self: center;
	text-align: center;
	font-size: 21px;
  line-height: 26px;
	font-weight: bold;
}
.social {
	width: 400px;
	align-self: center;
	text-align: center;
}
.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}
.social-btn.tw {
  background: transparent url(../img/btn-tw.png) no-repeat;
}
.social-btn.fb {
  background: transparent url(../img/btn-fb.png) no-repeat;
}
.social-btn.in {
  background: transparent url(../img/btn-in.png) no-repeat;
}
.social-btn.tw:hover {
  background: transparent url(../img/btn-tw-hover.png) no-repeat;
}
.social-btn.fb:hover {
  background: transparent url(../img/btn-fb-hover.png) no-repeat;
}
.social-btn.in:hover {
  background: transparent url(../img/btn-in-hover.png) no-repeat;
}
.social-btn.tw:active {
  background: transparent url(../img/btn-tw-active.png) no-repeat;
}
.social-btn.fb:active {
  background: transparent url(../img/btn-fb-active.png) no-repeat;
}
.social-btn.in:active {
  background: transparent url(../img/btn-in-active.png) no-repeat;
}
.copyrihgt {
  box-sizing: border-box;
	width: 400px;
	align-self: center;
	padding-left: 100px;
	font-size: 14px;
  line-height: 26px;
}
.btn-copyrihgt {
  position: relative;
}
.btn-copyrihgt::after {
  content: " ";
  position: absolute;
  display: inline-block;
  bottom: -12px;
  left: 5px;
  width: 113px;
  height: 39px;
  vertical-align: baseline;
  background: transparent url(../img/btn-copyrihgt.png) no-repeat;
}
.btn-copyrihgt:hover::after {
  background: transparent url(../img/btn-copyrihgt-hover.png) no-repeat;
}
.btn-copyrihgt:active::after {
  background: transparent url(../img/btn-copyrihgt-active.png) no-repeat;
}
/*ЦВЕТА
голубые
color: #81b3d2; покой
color: #669ec0; наведение
color: #5496bd; нажатие + #94b9d2 шрифт

для поля ввода
color: #f2f2f2; покой
color: #ebebeb; наведение
color: #e5e5e5; фокус

коричневые
color: #766357; покой
color: #604e43; наведение
color: #503e33; нажатие + #766860 шриф

для гостиниц
color: #000000; покой
color: #81b3d2; наведение
color: #cacaca; нажатие */
